/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    overflow-x: hidden;
    background: url('../images/bg.jpg') repeat;
}
ol, ul {
	list-style: none;
}
a:hover{
    text-decoration: none;
}
footer{
    background: url('../images/footer.jpg') repeat;
    color:#fff
}
.panel-heading{
    background-color: #fcd34c !important;
    color: #333 !important;
    border: transparent !important;
    font-size: 26px;
}
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}
.topMenu{
    display: flex;
    justify-content: center;
    background-color: #FFECB0;
}
.topMenu__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 100px;
    padding: 10px 20px;
    height: 60px;
    background-color: #FFECB0;
    color: #333;
    font-size: 18px;
}
.panel-body > h5{
    font-size: 26px;
}
.panel-body{
    color: "#ffa73b";
    font-size: 16px;
    line-height: 30px;
}
.qs-title{
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}
.notice{
    padding: 0 10px;
    color:#FF1100
}
.primary{
    color: #3c87f9;
}
.topMenu__item:active{
    cursor: pointer;
}
.topMenu__item.active{
    background-color: #fcd34c;
    color: #555;
}
.topMenu__item.active>div{
    display: block;
}
.topMenu__item>div{
    display: none;
    position: absolute;
    top:60px;
    z-index: 5;
    border-style:dotted dotted solid;
    border-width:20px;
    border-color:transparent transparent #fcd34c; 
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}
.topMenu__item-empty{
    display: none;
}
.header{
    position: relative;
}
.header > * {
    /* min-height:400px; */
    width: 100%;
}

.menu-icon-link{
    display: none;
}

.slogan{
    color:rgb(255, 255, 255);
    font-size: 16px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    text-shadow: #000 1px 3px 6px;
    letter-spacing: 2px;
    line-height: 35px;
    align-items: center;
    position: relative;
}
.slogan>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}
.subtitle{
    width: 150px;
    font-size: 26px;
    line-height: 51px;
    height: 55px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* box-shadow: #fff 0 5px 1px; */
    margin-bottom: 45px;
}
#bnbPcBanner{
    background-image: url('../images/ev_1.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 500px;
    position: absolute;
    top: 0px;
}

#bannerImage{
    background-image: url('../images/ev_1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 2;
    height: 500px;
    position:absolute;
    top: 0px;
}

/* 照片 */
.room-info {
    position: relative;
    width: 100%;
    height: 300px;
    background-color:#fcd34c;
    margin-bottom: 20px;
}
.arrow-left{
    position: absolute;
    top:120px;
    z-index: 3;
}
.arrow-right{
    position: absolute;
    top:120px;
    right: 0;
    z-index: 3;
}
.arrow{
    background: transparent;
    border: transparent;
}  
.arrow:hover{
    background: transparent;
    border: transparent;
    box-shadow: 0 0px #3c87f9;
}
.tab_panel{
    position:absolute;
    top: -80px;  
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: #fcd34c solid 4px;
    z-index: 3;
}
.sj-tab.active{
    background-color: #fcd34c;
    box-shadow:inset 0px 2px 5px #FF0
}
.sj-tab{
    position: relative;
    transform: translateY(2px);
    background-color: #FFECB0;
    min-width: 150px;
    margin: 0 20px;
    height: 80px;
    line-height: 60px;
    border: #eeCDA0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 32px;
    color: #555;
    /* box-shadow:inset 0px 2px 5px rgb(255, 212, 69); */
    text-shadow: #FFF 1px 3px 6px;
    z-index: 4;
    max-width: 20%;
}
.room-btns{
    position: relative;
    top:15px;
    display: flex;
    flex-direction: row;
    height: 300px;
    /* overflow: hidden; */
    align-items: center;
}
.room-btns>a{
    display: flex;
    flex-direction: column;
    min-width: 33%;
}
.room-btns>a>img{
    /* height: 300px; */
    width: 100%;
    max-height: 300px;
    /* padding: 10px 10px; */
    padding: 5px 5px;
    /* margin: 0 5px; */
    /* background: rgba(183, 253, 255, 0.8); */
}
.info > div{
    position: relative;
    bottom:54px;
    text-align: center;
    font-size: 26px;
    background: rgba(255, 255, 255, .8);
    line-height: 50px;
}
.info{
    width: 100%;
    padding: 0 5px;
}
button:hover {background-color: #fcd34c}
button:active {
  background-color: #ffc918;
  box-shadow: 0 3px #aaaa00;
  transform: translateY(2px);
}
.circle >div{
    text-shadow: #000 1px 3px 6px;
}
.circle > div:first-child {
    font: oblique small-caps bold 20px/2 cursive;;
}
.circle >div:nth-child(2){
    line-height: 30px;
    padding-bottom: 30px;
} 
.circle {
    width: 120px;
    height: 120px;
    background: #fcd34c;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    font-size: 24px;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.t3 {
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-top: 25px solid #FFECB0;
    border-bottom: 0px solid transparent;
    display:inline-block;
    margin-top: 5px;
}
.t3-up{
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-bottom: 25px solid #FFECB0;
    border-top: 0px solid transparent;
    display:inline-block;
    margin-top: 5px;
}
.img-fb{
    max-height: 30px;
    line-height: 40px;
}
.img-line{
    max-height: 30px;
    line-height: 40px;
}
.legal{
    font-size: 20px;
    line-height: 40px;
}
.active-info {
    padding-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.news-t1{
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    height: 26px;
}
.hr{
    min-width: 800px;
    width: 98%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.news-panel{
    max-width: 800px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.news-img{
    padding: 10px 10px;
    text-align: center;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.news-img >img{
    max-height: 400px;
}
.news-msg{
    overflow: hidden;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    padding: 5px 15px;
    height: 100%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.news-msg2>div{
    display:flex;
    flex-wrap: wrap;	
    justify-content: center;
}
.news-title{
    font-size: 24px;
}
.newmsg-hide{
    height: 100px;
}
/* 景點 */
.spots-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #222;
    font-family: Arial,微軟正黑體; 
    font-size: 16px;
    line-height: 30px;
}
.spots-grid:hover{
    text-decoration: none;
    color: #000;
}
.sc_content{
    margin-left: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.sc_content > div:nth-child(1){
    font-size: 22px;
    line-height: 40px;
}
#t1 {
    display: block;
}

.productList{
    padding: 58px 10px;
}
.productList li>div:nth-child(2){
    display:flex;
    flex-direction: row;justify-content: center;
    margin-top: 10px;
}
.productList li{
	float: left;
	margin-left: 1.4%;
	margin-right: 1.4%;
	width: 30.53333%;
	height: 330px;
	background-color: #efe9e7;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	margin-bottom: 30px;
	text-align: center;
	color: #3D1101;
	font-weight: bold;
}

.product_name_cn{
	font-size: 20px;
    line-height: 20px;
    padding: 0 10px;
}

.product_name_en{
	font-size: 12px;
    line-height: 20px;
    padding: 1px 10px;
}

.product_slice{
	margin: 0 auto;
	width: 91px;
	height: 1px;
	margin-top: 8px;
	background-color: #3D1101;
}

.product_price{
	font-size: 16px;
	margin-top: 10px;
	line-height: 24px;
	font-style: italic;
	font-family: Roboto-Light;
}
.product_price > span{
    text-decoration:line-through;
}
.img{
	position: relative;
	margin: 0 auto;
	max-width: 100%;
    /* height: 200px; */
    width: 100%;
    height: 200px;
    background-size: 100% auto;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
}

.favorite{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 5px;
	background: url(../img/icon_heart@svg.svg) center no-repeat;
}

.favorite.active{
	background: url(../img/icon_heart_click@svg.svg) center no-repeat;
}

.hot_sale{
	position: absolute;
	top: 0;
	right: 0;
	/* background-color: #fff; */
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.hot_sale_text{
	line-height: 21px;
	width: 140px;
	transform:translateX(-15px) translateY(15px) rotate(-315deg);
	background: #00CC99;
	color: white;
	font-size: 14px;
}

@media only screen and (min-width: 769px) {
    .sj-tab{
        min-width: 245px;
    }
}
@media screen and (max-width: 768px){
    .subtitle{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .slogan{
        justify-content: start;
    }
    .slogan>div>:nth-child(2){
        overflow: hidden;
        line-height: 20px;
    }
    .room-btns>a{
        min-width: 100%;
    }
    .topMenu__item.active>div{
        display: none;
    }
    .menu-icon{
        width: 25px;
        height: 25px;
        border-top: 5px solid #ffffec;
        border-bottom: 5px solid #ffffec;
        padding: 5px 0;
        background-clip: content-box;
        background-color: #ffffec;
    }
    .menu-icon-link{
        background-color: #ffc918;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 5px;        
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border:transparent;
        z-index: 6;
    }
    .topMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFECB0;
        position: absolute;
        /* left: -768px; */
        width: 100%;
        z-index: 5;
        transform: translateX(-768px);
        transition:0.5s;
    }
    .topMenu-active{
        transform: translateX(0px);
        transition:0.5s;
    }
    .topMenu__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10px 20px;
        height: 60px;
        background-color: #FFECB0;
        color: #000;
        font-size: 18px;
    }
    .topMenu__item-empty{
        display: block;
    }
    .sj-tab{
        min-width: 150px;
    }
    #bannerImage{
        max-height: 245px;
    }
    #bnbPcBanner{
        max-height: 245px;
    }
    .slogan{
        max-height: 245px;
    }
    .hr{
        min-width: 80%;
    }
    /* 景點 */
    .spots-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #222;
        font-family: Arial,微軟正黑體; 
        font-size: 16px;
        line-height: 30px;
    }
    .productList li{
		width: 47.2%;
	}
}

@media(max-width: 767px){
	.productList{
		padding-top: 110px;
	}
}

@media(max-width: 480px){
    .news-img{
        max-width: 350px;
    }
	.productList li{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
